.root {
  display: flex;
  justify-content: space-around;
  width: 500px;
  height: 100px;
  background: rgb(134, 168, 231);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-bottom: 2px gray solid;
  border-radius: 6px 6px 0px 0px;
  overflow: hidden;
}
.todoInput {
  width: 70%;
  text-align: center;
  overflow-wrap: break-word;
  outline: none;
}
.addBtn {
  display: flex;
  justify-content: center;
  width: 30%;
}
.todoBtn {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 0.5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #fdbe33 #000 #d77206;
  border-radius: 0px 6px 0px 0px;
  background: linear-gradient(#f3ae0f, #e38916) #e38916;
  transition: "0.2s";

  &:hover {
    background: linear-gradient(#f5ae00, #f59500) #f5ae00;
  }
}
.btnGroup {
  display: flex;
}
